html {
    position: relative;
    min-height: 100%;
}

body {
    font-family: "Poppins", sans-serif;
    background-color: #F5F5F5;
    padding: 0;
    margin: 0;
    margin-bottom: 100px;
}

.header {
    padding: 20px;
    border-bottom: 3px solid #555555;
    background-color: #333333;
}

.header h1 {
    color: #1976D2;
    text-align: center;
    font-size: 80px;
}

.main {
    padding: 0 20px;
}

.message {
    padding: 20px 0;
    font-size: 32px;
    text-align: center;
}

.game-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 456px;
    height: 456px;
    border: 3px solid #555555;
    margin: 0px auto;
}

.field {
    width: 150px;
    height: 150px;
    border: 1px solid #555555;
    background-color: #F5F5F5;
    font-size: 50px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.field:hover {
    background-color: #d8e4e9;
}

.center-container {
    display: flex;
    justify-content: center;
    padding: 24px;
}

.restart-btn {
    font-size: 45px;
    color: #1976D2;
    border-radius: 5px;
    border: 3px solid #555555;
    padding: 10px 20px;
    background-color: #333333;
}

.restart-btn:hover { 
    background-color: black;
    cursor: pointer;
}

.restart-btn:active {
    background-color: #333333;
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
    font-size: 20px;
}